<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Audio</title>
    <link rel="stylesheet" href="/css/theme.css" type="text/css" />

  </head>
  <body>
    <h1>Music Player</h1>
    <audio controls>
      <source
        src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.mp3"
        type="audio/mpeg"
      />
      <source
        src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/Track03.ogg"
        type="audio/ogg"
      />
      Your browser does not support the audio element.
    </audio>
    <p>
      This section shows an audio player that allows one to listen to a
      music track. The source for this player is a song file that contains soft music.
      The music is an instrumental classical music, a violin and piano duet.
    </p>
    
  </body>
</html>
