<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>List</title>
    <h1>Welcome</h1>
    <h3>Welcome to a demonstration of the List Page</h3>
    <link rel="stylesheet" href="../public/css/theme.css" type="text/css" />
  </head>
  <body>
    <h2>About the Author</h2>
    <p>
      my name is Hephzibah Nick-Oshomah, I am 21 Years Old and I hail from
      Nigeria. I currently attend Seneca College to study Computer Programming,
      my student number is 180580219. Although I am studying programming, I love
      doing art and and I am more design oriented.
    </p>
    <h2>Healthy foods I Like</h2>
    <ul>
      <li>eggs and bacon</li>
      <li>fruit salad</li>
      <li>broccoli stew</li>
    </ul>
    <ol>
      <li>carbs: bread</li>
      <li>protein: fish</li>
      <li>protein: eggs</li>
      <li>fat: meat</li>
    </ol>
  </body>
</html>
