<!DOCTYPE html>
<html>
  <head>
    <title>Storefront</title>
    <link rel="stylesheet" href="/css/theme.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <h1>Welcome to the Store!</h1>
    <p>Explore our amazing collection of products.</p>
  </head>

  <body>
    <nav>
      <!-- Navigation links -->
    </nav>
    <header>
      <!-- Header content -->

    </header>
    <h1>Our Products</h1>
    <!-- Main content -->
    <main class="container">

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/royalty.jpg"
              alt="Product 1"
            />
            <div class="card-body">
              <h5 class="card-title">Royalty</h5>
              <p class="card-text">
                A piece set in a fantasy land and centered around two princesses
                of royal blood, although one has a touch of magic, can you guess
                which?
              </p>
              <p class="card-text">Price: $50</p>
            </div>
          </div>
        <!-- </div> -->
        <!-- Repeat the above card structure for other products -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/baddie.jpg"
              alt="Product 2"
            />
            <div class="card-body">
              <h5 class="card-title">Baddie</h5>
              <p class="card-text">
                She's hot, pretty and classy. Made using the Reference photo of
                a real life Baddie
              </p>
              <p class="card-text">Price: $55</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/castle-Original.jpg"
              alt="Product 3"
            />
            <div class="card-body">
              <h5 class="card-title">Castle</h5>
              <p class="card-text">
                Inspired by the Netflix Original Animated Masterpiece,
                Castlevania. Made in the likeness of Alucard
              </p>
              <p class="card-text">Price: $40</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/comfort-zone.jpg"
              alt="Product 4"
            />
            <div class="card-body">
              <h5 class="card-title">Comfort-Zone</h5>
              <p class="card-text">A young girl in her comfort-zone</p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/cutie.jpg" alt="Product 5" />
            <div class="card-body">
              <h5 class="card-title">Cutie</h5>
              <p class="card-text">
                Stylized piece of a pretty little princess
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/Jochy.jpg" alt="Product 6" />
            <div class="card-body">
              <h5 class="card-title">Bantu knots</h5>
              <p class="card-text">
                A piece that captures a girl rocking the famous african
                hairstyle
              </p>
              <p class="card-text">Price: $35</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/last-dance.jpg"
              alt="Product 7"
            />
            <div class="card-body">
              <h5 class="card-title">Last Dance</h5>
              <p class="card-text">
                Forbidden love, hurt, passion. A captivating piece that elicits
                a lot of emotions
              </p>
              <p class="card-text">Price: $60</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/ginger.jpg"
              alt="Product 8"
            />
            <div class="card-body">
              <h5 class="card-title">female serenity</h5>
              <p class="card-text">
                A piece that captures example of the actions that encourage
                reflection and serenity for women
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/mystical-dance.jpg"
              alt="Product 9"
            />
            <div class="card-body">
              <h5 class="card-title">Mystical Dance</h5>
              <p class="card-text">A guest with subtle powers</p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/serendipity.jpg"
              alt="Product 10"
            />
            <div class="card-body">
              <h5 class="card-title">Tranquility</h5>
              <p class="card-text">A piece that captures the tranquility of reading</p>
              <p class="card-text">Price: $50</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      
      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/soiree.jpg" alt="Product 11" />
            <div class="card-body">
              <h5 class="card-title">Soiree</h5>
              <p class="card-text">
                Soiree with a spy?
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      
      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/sleeping beauty.jpg" alt="Product 12" />
            <div class="card-body">
              <h5 class="card-title">Sleeping Beauty</h5>
              <p class="card-text">
                Caught in a Magical hibernation awaiting rescue
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      
      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/solemn pose.jpg" alt="Product 13" />
            <div class="card-body">
              <h5 class="card-title">Model</h5>
              <p class="card-text">
                A model in her element
              </p>
              <p class="card-text">Price: $40</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      
      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/mirror-pose.jpg" alt="Product 14" />
            <div class="card-body">
              <h5 class="card-title">Soiree</h5>
              <p class="card-text">
                Look in the mirror, what do you see?
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>
    
    </main>

    <!-- Footer -->
    <footer></footer>
  </body>
</html>
