<!DOCTYPE html>
<html>
  <head>
    <title>Storefront</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/theme.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous"/>
    <h1>Welcome to the Store!</h1>
  
    <nav class="navbar navbar-expand-lg bg-dark-body-tertiary" style="background-color: #144f5a; border-radius: 3pt;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/storefront"><h3 style="color: antiquewhite;">Our Products</h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/storefront" style="color:cyan;"></a>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/list">List</a>
            <a class="nav-link" href="/video">Video</a>
            <a class="nav-link" href="/table">Table</a>
            <a class="nav-link disabled">Audio</a>
          </div>
        </div>
      </div>
    </nav>
    <p style="color: antiquewhite">Explore our amazing collection of products.</p>
 
  </head>
  <script git  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
  crossorigin="anonymous"
></script>
  <body>
    <main class="container">

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/royalty.jpg"
              alt="Product 1"
            />
            <div class="card-body">
              <h5 class="card-title">Royalty</h5>
              <p class="card-text">
                A piece set in a fantasy land and centered around two princesses
                of royal blood, although one has a touch of magic, can you guess
                which?
              </p>
              <p class="card-text">Price: $50</p>
            </div>
          </div>
        <!-- </div> -->
        <!-- Repeat the above card structure for other products -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/baddie.jpg"
              alt="Product 2"
            />
            <div class="card-body">
              <h5 class="card-title">Baddie</h5>
              <p class="card-text">
                She's hot, pretty and classy. Made using a Reference photo of
                a real life Baddie
              </p>
              <p class="card-text">Price: $55</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/castle-Original.jpg"
              alt="Product 3"
            />
            <div class="card-body">
              <h5 class="card-title">Castle</h5>
              <p class="card-text">
                Inspired by the Netflix Original Animated Masterpiece,
                Castlevania. Made in the likeness of Alucard
              </p>
              <p class="card-text">Price: $100</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/comfort-zone.jpg"
              alt="Product 4"
            />
            <div class="card-body">
              <h5 class="card-title">Comfort-Zone</h5>
              <p class="card-text">A young girl in her comfort-zone</p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/cutie.jpg" alt="Product 5" />
            <div class="card-body">
              <h5 class="card-title">Cutie</h5>
              <p class="card-text">
                Stylized piece of a pretty little princess
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/Jochy.jpg" alt="Product 6" />
            <div class="card-body">
              <h5 class="card-title">Bantu knots</h5>
              <p class="card-text">
                A piece that captures a girl rocking the famous african
                hairstyle
              </p>
              <p class="card-text">Price: $35</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/last-dance.jpg"
              alt="Product 7"
            />
            <div class="card-body">
              <h5 class="card-title">Last Dance</h5>
              <p class="card-text">
                Forbidden love, hurt, passion. A captivating piece that elicits
                a lot of emotions
              </p>
              <p class="card-text">Price: $60</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/ginger.jpg"
              alt="Product 8"
            />
            <div class="card-body">
              <h5 class="card-title">female serenity</h5>
              <p class="card-text">
                A piece that captures example of the actions that encourage
                reflection and serenity for women
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/mystical-dance.jpg"
              alt="Product 9"
            />
            <div class="card-body">
              <h5 class="card-title">Mystical Dance</h5>
              <p class="card-text">A guest with subtle powers</p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img
              class="card-img-top"
              src="/images/serendipity.jpg"
              alt="Product 10"
            />
            <div class="card-body">
              <h5 class="card-title">Tranquility</h5>
              <p class="card-text">A piece that captures the tranquility of reading</p>
              <p class="card-text">Price: $50</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      
      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/soiree.jpg" alt="Product 11" />
            <div class="card-body">
              <h5 class="card-title">Soiree</h5>
              <p class="card-text">
                Soiree with a spy?
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      
      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/sleeping beauty.jpg" alt="Product 12" />
            <div class="card-body">
              <h5 class="card-title">Sleeping Beauty</h5>
              <p class="card-text">
                Caught in a Magical hibernation awaiting rescue
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      
      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/solemn pose.jpg" alt="Product 13" />
            <div class="card-body">
              <h5 class="card-title">Model</h5>
              <p class="card-text">
                A model in her element
              </p>
              <p class="card-text">Price: $40</p>
            </div>
          </div>
        <!-- </div> -->
      </div>

      
      <div class="row">
        <!-- <div class="col-lg-4 col-md-6"> -->
          <div class="card">
            <img class="card-img-top" src="/images/mirror-pose.jpg" alt="Product 14" />
            <div class="card-body">
              <h5 class="card-title">Look</h5>
              <p class="card-text">
                Look in the mirror, what do you see?
              </p>
              <p class="card-text">Price: $30</p>
            </div>
          </div>
        <!-- </div> -->
      </div>
    
    </main>

    <!-- Footer -->
    <footer></footer>
  </body>
</html>
