<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Table</title>
    <link rel="stylesheet" href="/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Favorite Books and Movies</h1>
    <table class="table table-striped-columns">
      <caption>
        Favorite Books
      </caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>A Court of Thorn and Roses</td>
          <td>Sarah.J.Maas</td>
          <td>fantasy</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Pride and Prejudice</td>
          <td>Jane Austen</td>
          <td>classic Romance</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Tale of Two Cities</td>
          <td>Charles Dickens</td>
          <td>Classic</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">These are some of my favorite books.</td>
        </tr>
      </tfoot>
    </table>
<br>
    <table class="table table-striped-columns">
      <caption>
        Favorite Movies
      </caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Director</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>The Other Boleyn Sister</td>
          <td>Philippa Lowthorpe</td>
          <td>Drama</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>The Hobbit: The Desolation of Smaug</td>
          <td>Peter Jackson</td>
          <td>Fantasy</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>How To Train your Dragon 2</td>
          <td>Dean DeBlois</td>
          <td>Animation</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">These are some of my favorite movies.</td>
        </tr>
      </tfoot>
    </table>

    <p>
      This section showcases a collection of my favorite books and movies. The
      first table displays three of my favorite books.
    </p>
    <p>The second table highlights three of my favorite movies.</p>
    <p>
      Feel free to explore these recommendations and discover some amazing books
      and movies!
    </p>
  </body>
</html>
