<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Table</title>
    <link rel="stylesheet" href="/css/theme.css" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Favorite Books and Movies</h1>
    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
    crossorigin="anonymous"/>
  
    <nav class="navbar navbar-expand-lg bg-dark-body-tertiary" style="background-color: #144f5a; border-radius: 3pt;">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><h3 style="color: antiquewhite;"></h3></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="color:white;">
            <a class="nav-link active" aria-current="page" href="/table" style="color:antiquewhite;">Table</a>
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/storefront">Storefront</a>
            <a class="nav-link" href="/list">List</a>
            <a class="nav-link" href="/video">Video</a>
            <a class="nav-link disabled">Audio</a>
          </div>
        </div>
      </div>
    </nav>
    <script git  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"
  ></script>
    <table class="table table-striped-columns" style="color:darkcyan;">
      <caption>
        Favorite Books
      </caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>A Court of Thorn and Roses</td>
          <td>Sarah.J.Maas</td>
          <td>Fantasy</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Pride and Prejudice</td>
          <td>Jane Austen</td>
          <td>Classic Romance</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Tale of Two Cities</td>
          <td>Charles Dickens</td>
          <td>Classic</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">These are some of my favorite books.</td>
        </tr>
      </tfoot>
    </table>
<br>
    <table class="table table-striped-columns">
      <caption>
        Favorite Movies
      </caption>
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Director</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>The Other Boleyn Sister</td>
          <td>Philippa Lowthorpe</td>
          <td>Drama</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>The Hobbit: The Desolation of Smaug</td>
          <td>Peter Jackson</td>
          <td>Fantasy</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>How To Train your Dragon 2</td>
          <td>Dean DeBlois</td>
          <td>Animation</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">These are some of my favorite movies.</td>
        </tr>
      </tfoot>
    </table>

    <p>
      This section showcases a collection of my favorite books and movies. The
      first table displays three of my favorite books.
    </p>
    <p>The second table highlights three of my favorite movies.</p>
    <p>
      Feel free to explore these recommendations and discover some amazing books
      and movies!
    </p>
  </body>
</html>
