<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Audio</title>
    <link rel="stylesheet" href="/css/theme.css" type="text/css" />
  </head>
  <body>
    <h2>Video</h2>
    <video controls>
      <source
        src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.mp4"
        type="video/mp4"
      />
      <source
        src="https://scs.senecac.on.ca/~tanvir.alam/shared/fall-2018/web222/movie.ogg"
        type="video/ogg"
      />
      Your browser does not support the video .
    </video>
    <p>
      This section contains a video player that showcases a featured movie
      centered on a brown bear. In the video the bear is in a river seemingly
      fishing for food. It is surrounded by seagulls but is unconcerned with
      them. The video has both formats to provide options for viewing. You can
      control the video playback using the provided controls.
    </p>
  </body>
</html>
